{% extends 'poll/base.html' %}

{% block content %}
	
	<h1><font face = "georgia">Enter the details mentioned below </font></h1>

	<form id = "detailform" method="post" action="/dummy/">
	{% csrf_token %}
	<!--<font face="georgia">Name: </font><input type="text" name="user_name" value="" size="50" /> 
		<br />  -->
	<!--<font face="georgia">User ID: </font><input type="text" name="user_ID" value="" size="50" /> 
		<br />  -->
	<!--<font face="georgia">Organization ID: </font><input type="text" name="org_ID" value="" size="50" /> 
		<br />	-->
	<font face="georgia">Select your Organization name: </font>
	<select name="organization_name">
		{% for organizationName in organizationNames_list %}
			<option value="{{ organizationName }}">{{ organizationName }}</option>

		{% endfor %}	
	</select>
	<br />
	<!-- <font face="georgia">Food ID(s) (separate them with a ',' ): </font><input type="text" name="food_ID" value="" size="50" /> -->
	<font face="georgia">Select your food preferences: </font> <br>
	{% for foodname in foods_list %}
		<input type="checkbox" name="food" value="{{ foodname }}"> {{ foodname }}

	{% endfor %}
		<br />
	<input type="submit" value="submit" />
	</form>
	<br>
	<br>
	<h5><a href="/logout/"> Logout </a></h5>
{% endblock %}