{% extends 'poll/base.html' %}

{% block content %}
	
	<h1><font face = "georgia">Enter the details mentioned below </font></h1>

	<form id = "detailform" method="post" action="/dummy/">
	{% csrf_token %}
	<font face="georgia">Select your food preferences: </font> <br>
	{% for foodname in foods_list %}
		<input type="checkbox" name="food" value="{{ foodname }}"> {{ foodname }}

	{% endfor %}
		<br />
	<input type="submit" value="submit" />
	</form>
	<br>
	<br>
	<h5><a href="/logout/"> Logout </a></h5>
{% endblock %}